SECRET_KEY="your_secret_key"
DEBUG=True

# 1. Сюда будет смотреть контейнер базы данных Postgres 16
POSTGRES_DB=PythonProfile
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

# 2. А сюда будет смотреть Django-бэкенд в settings.py
DB_NAME=PythonProfile
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=profile_db
DB_PORT=5432

# Настройка разрешенных адресов (Origins)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

smm=